.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.is-visible-animation {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.is-visible-animation.false {
  opacity: 0;
}
.is-visible.false,
.is-visible-false {
  display: none !important;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.inline-block {
  display: inline-block;
}
.trans-n-90deg {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.user-select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.search-container {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 350px;
  left: 20px;
  top: 20px;
  color: #292931;
  font-size: 11px;
  transition: all .5s;
}
.search-container.view-mode:not(.search) {
  top: -120px;
  left: calc((100% - ( 860px  +  400px )) / 2);
  margin-left: 0;
}
.search-container .search-panel {
  width: 350px;
  margin: 5px auto 0;
  background: rgba(163, 163, 163);
}
.search-container .search-panel:focus {
  outline: none;
}
.search-container .is-expand.false {
  opacity: 0;
  max-height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.search-container ul {
  list-style-type: none;
  padding-left: 15px;
  margin-bottom: 0px;
}
.search-container i {
  font-size: 14px;
  width: 13px;
}
.search-container i[class^='fa-chevron'] {
  color: #6d6e71;
}
.search-container i.slide-icon {
  position: absolute;
  right: 0;
  top: 3px;
  cursor: pointer;
  transition: all .5s;
}
.search-container .node-info,
.search-container .interface-info {
  position: relative;
  cursor: pointer;
}
.search-container .ip {
  position: absolute;
  right: 28px;
  text-align: left;
  width: 105px;
}
.search-container .result-container {
  max-height: 411px;
  transition: all .5s;
  position: relative;
}
.search-container .result-container.is-expand.true {
  margin-bottom: -10px;
}
.search-container .search-result,
.search-container .watch-result {
  overflow: auto;
  padding-top: 5px;
  max-height: 400px;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
}
.search-container .search-result {
  margin-bottom: 45px;
}
.search-container .search-result-action {
  text-align: center;
  background: rgba(163, 163, 163);
  border: 1px solid #a3a3a3;
  color: #ffffff;
  border-top: none;
  position: absolute;
  bottom: -35px;
  width: 100%;
}
.search-container .search-result-action a.btn:hover {
  text-decoration: none;
}
.search-container .search-result-action:after {
  content: '';
  width: 0;
  height: 0;
  border-color: rgba(22, 22, 22, 0.8) transparent transparent;
  border-width: 8px;
  border-style: solid;
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -4px;
  z-index: 1;
}
.search-container .result-list {
  padding-left: 10px;
  width: 340px;
}
.search-container .result-list li {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  line-height: 25px;
  position: relative;
}
.search-container .result-list li i {
  margin-right: 5px;
  width: 13px;
}
.search-container .interface-list {
  max-height: 400px;
  opacity: 1;
  transition: all .5s;
  overflow: hidden;
}
.search-container .search-input {
  position: relative;
}
.search-container .search-input .form-control {
  border-radius: 0px;
  background-color: #ededed;
  border: 1px solid #ededed;
  height: 30px;
  color: #000000;
  text-indent: 15px;
  font-size: 12px;
}
.search-container .search-input .glyphicon-search {
  position: absolute;
  left: 5px;
  top: 8px;
  color: #131818;
}
.search-container .watch-list-info-container {
  cursor: pointer;
  padding: 3px;
  display: inline-block;
}
.search-container .watch-list {
  margin-bottom: 5px;
  position: relative;
  transition: all .8s;
  top: 0;
  left: 0;
  width: 100%;
}
.view-mode:not(.search).search-container .watch-list {
  top: 80px;
  width: 114.28571429%;
}
.view-mode:not(.search).search-container .watch-list .watch-list-action {
  opacity: 0;
  right: 0;
}
.search-container .watch-list .watch-result {
  background-color: #ededed;
  transition: all .5s;
}
.search-container .watch-list .watch-result.is-expand.true {
  margin-top: 5px;
}
.search-container .watch-list .watch-list-panel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  padding: 7px 7px 0px;
  position: relative;
  margin-top: 10px;
  background-color: #ededed;
  box-shadow: 2px 0px 5px #ededed;
}
.search-container .watch-list .watch-list-panel i.slide-icon {
  position: absolute;
  right: 14px;
  top: 10px;
}
.search-container .watch-list.is-disable.true .watch-list-panel {
  color: #000000;
  padding: 7px 7px 5px;
}
.search-container .watch-list .watch-list-action {
  position: absolute;
  right: -18px;
  top: 3.5px;
  z-index: -1;
  background: #ededed;
  color: #0a0a0a;
  height: 28px;
  line-height: 28px;
  padding-right: 4px;
  text-align: right;
  transition: all .5s .3s;
}
.search-container .watch-list .watch-list-action a {
  vertical-align: baseline;
  opacity: 0;
  transition: all .5s .3s;
}
.search-container .watch-list .watch-list-action:hover {
  right: -55px;
}
.search-container .watch-list .watch-list-action:hover a {
  opacity: 1;
}
.search-container .watch-list .watch-list-info {
  display: inline-block;
  margin-left: 10px;
}
.search-container .watched-action-row .col-xs-6 {
  padding: 0;
}
.search-container .watched-action-row .btn {
  border-radius: 0px;
  width: 160px;
  font-size: 11px;
  border-width: 0;
}
.search-container .watched-action-row .btn:hover {
  opacity: .9;
}
.search-container .watched-action-row .btn-success {
  background-color: #3fb286;
}
.search-container .watched-action-row .btn-danger {
  background-color: #b7665f;
}
.acl-view-container {
  color: #909192;
  font-size: 11px;
}


.topology-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transition: all 0.8s;
  height: 100%;
  overflow: hidden;
}
.view-mode:not(.search) .topology-container {
  left: calc((100% - ( 860px  +  400px )) / 2);
  width: 400px;
  height: 400px;
  bottom: 10px;
  border: 1px solid #2d2d2d;
}
body {
  overflow: hidden;
}
.main-right,
.acl-watch-info {
  position: absolute;
  right: 0;
  top: 55px;
  width: 860px;
  right: calc((100% - ( 860px  +  400px )) / 2 - 10px);
  transition: all 0.8s;
}
.view-mode:not(.acl) .main-right,
.view-mode:not(.acl) .acl-watch-info {
  right: -860px;
}
.acl-list {
  transition: all .6s;
}
.acl-main-view.edit-mode.add .nav-tab,
.acl-main-view.edit-mode.add .no-acl {
  display: none;
}
.acl-main-view.edit-mode.add .choose-template .acl-list {
  margin-left: 100%;
}
.acl-main-view.edit-mode.add .choose-template .acl-list-action {
  margin-left: 100%;
  display: block !important;
}
.acl-main-view.edit-mode.add .edit-by-template .acl-list {
  margin-left: 0;
}
.acl-main-view.edit-mode.add .edit-by-template .acl-template {
  margin-left: -100%;
}
.acl-main-view.edit-mode.add .edit-by-template .acl-list-action button.for-view {
  display: none;
}
.acl-main-view.edit-mode.add .edit-by-template .acl-list-action button.for-add {
  display: inline-block;
}
.acl-main-view.edit-mode.edit .acl-template {
  margin-left: -100%;
}
.main-right.is-busy.true .acl-list-action button {
  display: none !important;
}
.acl-template {
  width: 100%;
  height: 100%;
  transition: all .6s;
  position: absolute;
  top: 0;
  z-index: 99;
  background-color: #ededed;
}
.acl-template .new-from-blank {
  font-size: 20px;
  padding: 20px;
  font-family: Cisco Sans Extra Light;
}
.acl-template .new-from-blank a {
  color: inherit;
}
.acl-template .new-from-blank i.fa-chevron-right {
  margin-left: 10px;
  font-size: 18px;
}
.acl-template .new-from-template .title {
  font-size: 20px;
  padding: 0px 20px 10px;
  font-family: Cisco Sans Extra Light;
}
.acl-template .new-from-template .note {
  margin-left: 20px;
}
.acl-template .new-from-blank a {
  cursor: pointer;
  position: relative;
}
.acl-template .new-from-blank a:before,
.acl-template .new-from-blank a:after {
  content: '';
  width: 0;
  height: 0;
  border-width: 8px 6px;
  border-color: transparent;
  border-style: solid;
  border-left-color: #9b9b9b;
  position: absolute;
  bottom: 5px;
  right: -25px;
}
.acl-template .new-from-blank a:after {
  border-left-color: #333;
  right: -23px;
}
.acl-template .template-list {
  margin-top: 10px;
  padding-left: 5px;
}
.acl-template .template-list .template-item {
  width: 120px;
  height: 120px;
  float: left;
  line-height: 120px;
  text-align: center;
  background: #585858;
  cursor: pointer;
  margin-left: 15px;
}
.acl-template .template-list .template-item:hover {
  background-color: #edc729;
  color: #818181;
}
.main-right {
  height: calc(100% -  55px  - 7px);
}
.main-right .no-acl {
  opacity: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -7px;
  position: absolute;
}
.main-right.all .no-acl {
  opacity: 1;
}
.main-right.all .acl-list-action {
  display: none;
}
.main-right.all .acl-info .nav-tab {
  display: none;
}
.main-right.inbound .acl-info .is-outbound {
  display: none;
}
.main-right.outbound .acl-info .is-inbound {
  display: none;
}
.acl-watch-info {
  top: 10px;
  border: none;
  line-height: 25px;
}
.acl-watch-info input {
  float: left;
  margin: 5px;
}
.acl-info {
  white-space: nowrap;
  background: #878787;
}
.acl-info .icon-nav {
  color: #2ac6ea;
  display: inline-block;
  background: #878787;
}
.acl-info .nav-tab {
  line-height: 28px;
  display: inline-block;
  margin-left: 30px;
  vertical-align: top;
  cursor: pointer;
  border-top: 2px solid transparent;
  transition: all .5s;
}
.acl-info .nav-tab.is-inbound.inbound,
.acl-info .nav-tab.is-outbound.outbound,
.acl-info .nav-tab:hover {
  color: #2ac6ea;
  border-top: 2px solid;
}
.acl-info .nav-tab span {
  margin-right: 5px;
}
.acl-list-view {
  background-color: #ededed;
  border: 1px solid #d5d5d5;
  height: calc(100% - 33px);
  position: relative;
  overflow: hidden;
}
.is-acelist-empty {
  opacity: 0;
  transition: all .8s;
  line-height: 25px;
  height: 25px;
  position: relative;
  top: 0px;
}
.is-acelist-empty.true {
  opacity: 1;
  z-index: 3;
}
.is-acelist-empty:hover {
  background-color: #000;
}
.is-acelist-empty i {
  margin-right: 10px;
  cursor: pointer;
  width: 14px;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 5px;
}
.ace-list {
  list-style-type: none;
  padding-left: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  transition: all .8s;
  z-index: 1;
  overflow: auto;
  height: calc(100% - 45px);
}
.ace-list li.ace-item {
  position: relative;
  line-height: 25px;
  transition: all .5s;
}
.ace-list li.ace-item.is-pure-true .ace-info {
  opacity: 0;
}
.ace-list li.ace-item.is-pure-true .edit-icons .fa-edit,
.ace-list li.ace-item.is-pure-true .edit-icons .fa-trash-o {
  display: none;
}
.ace-list li.ace-item.is-pure-true .no-aces {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}
.ace-list li.ace-item.is-pure-false .no-aces {
  display: none;
}
.ace-list li.ace-item .ace-info {
  max-height: 25px;
  opacity: 1;
  transition: all .5s;
}
.ace-list li.ace-item .ace-info.is-edit.true:not(.add),
.ace-list li.ace-item .ace-info.is-edit.true.is-pure-true {
  max-height: 0px;
  opacity: 0;
}
.ace-list li.ace-item.is-deleting.true {
  opacity: 0;
}
.ace-list li.ace-item.is-edit-true {
  margin-bottom: 5px;
}
.ace-list li.ace-item div > span {
  margin-left: 5px;
  display: inline-block;
}
.ace-list li.ace-item div > span.protocol {
  width: 28px;
}
.ace-list li.ace-item div > span.grant {
  color: #c886d1;
  width: 36px;
}
.ace-list li.ace-item div > span.grant.deny {
  color: #e07c7c;
}
.ace-list li.ace-item div > span.source-ip {
  color: #41cbce;
}
.ace-list li.ace-item div > span.dest-ip {
  color: #44d3a3;
}
.ace-list li.ace-item div > span .edit-port {
  margin-left: 5px;
  display: inline-block;
  transition: all .8s;
  max-width: 200px;
}
.ace-list li.ace-item div > span .edit-port .port2 {
  transition: all .5s;
  opacity: 0;
  max-width: 0px;
}
.ace-list li.ace-item div > span .edit-port.range .port2 {
  max-width: 50px;
  opacity: 1;
}
.ace-list li.ace-item.is-edit-false:hover,
.ace-list li.ace-item.is-pure-true {
  background-color: #cacaca;
}
.ace-list li.ace-item.is-edit-false:hover .edit-icons,
.ace-list li.ace-item.is-pure-true .edit-icons {
  opacity: 1;
}
.ace-list li.ace-item .edit-icons {
  opacity: 0;
  transition: all .3s;
  position: absolute;
  right: 0px;
  top: 2px;
}
.ace-list li.ace-item .edit-icons i {
  margin-right: 10px;
  cursor: pointer;
  width: 14px;
  font-size: 14px;
}
.ace-list .sequence-number,
.ace-list .ace-item-edit .show-sequence-number {
  width: 31px;
}
.ace-list .ace-item-edit {
  position: relative;
  top: 0;
  max-height: 0px;
  overflow: hidden;
  background-color: #bcbcbc;
  transition: all .5s;
  border-left: 2px solid;
  white-space: nowrap;
}
.ace-list .ace-item-edit.hide {
  display: none;
}
.ace-list .ace-item-edit.is-edit.true {
  max-height: 200px;
  overflow: inherit;
}
.ace-list .ace-item-edit .edit-sequence-number input {
  height: 25px;
  display: inline-block;
  width: 35px;
  background: #000000;
  border: none;
  outline: none;
  border-radius: 0px;
  color: #ddd;
  line-height: 18px;
  width: 50px;
}
.ace-list .ace-item-edit .edit-sequence-number.edit {
  display: none;
}
.ace-list .ace-item-edit .show-sequence-number.add {
  display: none;
}
.ace-list .ace-item-edit .ip-inputs {
  background-color: #000000;
}
.ace-list .ace-item-edit .ip-inputs input {
  height: 25px;
  display: inline-block;
  width: 35px;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 0px;
  color: #ddd;
  line-height: 18px;
  width: 36px;
}
.ace-list .ace-item-edit .ip-inputs input:not(:first-child) {
  margin-left: 5px;
}
.ace-list .ace-item-edit .ip-inputs input.ip-input,
.ace-list .ace-item-edit .ip-inputs input.wcb-input {
  width: 95px;
}
.ace-list .ace-item-edit .ip-inputs.source input,
.ace-list .ace-item-edit .ip-inputs.source select,
.ace-list .ace-item-edit .ip-inputs.source i {
  color: #41cbce;
}
.ace-list .ace-item-edit .ip-inputs.destination input,
.ace-list .ace-item-edit .ip-inputs.destination select,
.ace-list .ace-item-edit .ip-inputs.destination i {
  color: #44d3a3;
}
.ace-list .ace-item-edit select {
  margin-left: 5px;
  display: inline-block;
  height: 25px;
  background-color: #ffffff;
  color: #ddd;
  border: none;
  border-radius: 0px;
  -webkit-appearance: none;
  width: 50px;
  text-indent: 5px;
}
.ace-list .ace-item-edit select.grant {
  width: 53px;
}
.ace-list .ace-item-edit select.grant.deny {
  color: #e07c7c;
}
.ace-list .ace-item-edit select.grant.permit {
  color: #c886d1;
}
.ace-list .ace-item-edit i.fa-caret-down {
  margin-left: -10px;
  pointer-events: none;
}
.ace-list .ace-item-edit .edit-actions {
  position: relative;
  top: -25px;
  left: -89px;
  width: 0px;
}
.ace-list .ace-item-edit .edit-actions .action-link {
  margin-right: 15px;
  cursor: pointer;
}
.ace-list .ace-item-edit .edit-actions .action-link:hover {
  color: #ffc200;
}
.ace-list .ace-item-edit .edit-ace-label {
  font-size: 14px;
  color: #ffc200;
  text-transform: capitalize;
}
.ace-list .ace-item-edit[protocol='1'] .edit-port,
.ace-list .ace-item-edit[protocol=''] .edit-port {
  opacity: 0;
  max-width: 0px;
  max-height: 0px;
  overflow: hidden;
}
.ace-list ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #8F8F8F;
}
.ace-list :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #8F8F8F;
}
.ace-list ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #8F8F8F;
}
.ace-list :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #8F8F8F;
}
.ace-list.inbound-ace-list.outbound {
  margin-left: -100%;
  overflow: hidden;
}
.ace-list.outbound-ace-list.inbound {
  margin-left: 100%;
  overflow: hidden;
}
.loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.5);
  bottom: 0;
  z-index: 10;
}
.loading-overlay.is-visible.false {
  display: none;
}
.loading-overlay .overlay-content {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -80px;
  margin-top: -13px;
  font-size: 15px;
}
.loading-overlay i.fa-spin {
  font-size: 19px;
  margin-right: 10px;
}
.acl-list-action {
  position: absolute;
  bottom: 10px;
  padding: 0px 10px 0px;
  width: 100%;
  transition: all .6s;
}
.acl-list-action button {
  margin-right: 10px;
}
.acl-list-action button.for-view {
  width: 80px;
}
.acl-list-action button.for-add {
  display: none;
}
.acl-list-action button.btn-info {
  background-color: #39b3d7;
}
.acl-list-action button i {
  margin-right: 3px;
}
.icon-nav,
.nav-tab {
  font-size: 18px;
  position: relative;
  background: #878787;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.icon-nav .nav-title,
.nav-tab .nav-title {
  line-height: 30px;
  vertical-align: top;
  margin-left: 10px;
  font-size: 20px;
  font-family: Cisco Sans Extra Light;
}
.icon-nav i,
.nav-tab i {
  line-height: 30px;
}
.icon-nav i.arrow,
.nav-tab i.arrow {
  float: right;
  color: #ccc;
  margin-right: 10px;
  font-size: 15px;
}
.icon-nav i.logo,
.nav-tab i.logo {
  font-size: 26px;
  margin: 0px 3px;
}
.device-interface-info {
  transition: all 0.8s;
  width: 400px;
  top: 55px;
  position: absolute;
  left: calc((100% - ( 860px  +  400px )) / 2);
  height: calc( 100% -  475px );
  border-bottom: 3px solid #515151;
  border-radius: 0px 0px 7px 7px;
}
.view-mode:not(.acl) .device-interface-info {
  top: calc(-1 * ( 100% -  475px ) - 10px);
}
.device-interface-info.is-slide.true {
  height: calc(100% -  175px );
}
.view-mode:not(.search) .device-interface-info.is-slide.true + .acl-topo-container .topology-container {
  height: 100px;
}
.device-interface-info .inner-arrow {
  border-width: 3px;
  border-style: solid;
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -4px;
  border-radius: 2px;
  border-color: transparent;
  border-bottom-color: #B6B6B6;
  border-left-color: #B6B6B6;
  z-index: 1001;
}
.device-interface-info .slide-arrow {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 7px solid #515151;
  left: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  margin-left: -7px;
  border-radius: 50% 50%;
  bottom: -8px;
  z-index: 1000;
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
}
.device-interface-info .device-info,
.device-interface-info .interface-info {
  width: 197.5px;
  background-color: #ededed;
  display: inline-block;
  height: 100%;
  float: left;
}
.device-interface-info .device-info {
  border-radius: 0px 0px 0px 5px;
}
.device-interface-info .device-info .icon-nav,
.device-interface-info .device-info .is-selected.true,
.main-left.edit-mode.add .device-interface-info .device-info .is-selected {
  color: #edc729;
}
.main-left.edit-mode.add .device-interface-info .device-info .is-selected:not(.true) i.fa-caret-right {
  display: none;
}
.device-interface-info .interface-info {
  border-radius: 0px 0px 5px 0px;
  margin-left: 5px;
}
.device-interface-info .interface-info .icon-nav,
.device-interface-info .interface-info .is-selected.true,
.main-left.edit-mode.add .device-interface-info .interface-info .is-selected {
  color: #2de886;
}
.main-left.edit-mode.add .device-interface-info .interface-info .interface-list .is-selected i.fa-caret-right {
  display: none;
}
.device-interface-info .device-list,
.device-interface-info .interface-list {
  overflow: auto;
  height: calc(100% - 31px);
}
.device-interface-info ul {
  list-style: none;
  padding-left: 5px;
  width: 192.5px;
}
.device-interface-info ul li {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  position: relative;
  line-height: 27px;
  cursor: pointer;
}
.device-interface-info .list-name {
  padding: 3px 5px;
}
.device-interface-info .list-ip {
  position: absolute;
  right: 25px;
}
.device-interface-info i.fa-caret-right {
  position: absolute;
  right: 5px;
  top: 5px;
}
.acl-topo-container {
  transition: all 0.8s;
}
.acl-topo-container .back-to-search {
  transition: opacity 1.5s;
  position: absolute;
  z-index: 999;
  background-color: rgba(75, 75, 75, 0.8);
  padding: 7px 10px;
  width: 400px;
  font-size: 16px;
  font-family: Cisco Sans Extra Light;
  color: #fcfcfa;
  cursor: pointer;
  opacity: 1;
}
.acl-topo-container .back-to-search i {
  font-size: 16px;
  margin-right: 5px;
}
.view-mode:not(.acl) .acl-topo-container .back-to-search {
  opacity: 0;
  z-index: 0;
}
.deploy-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.deploy-modal .modal-wrapper {
  width: 460px;
  height: 170px;
  top: 50%;
  position: relative;
  margin-top: -85px;
  left: 50%;
  margin-left: -230px;
  background: #5C5A5A;
  color: #fff;
  z-index: 9999;
}
.deploy-modal .title {
  background-color: #edc729;
  color: #000;
  font-size: 18px;
  padding: 3px 10px;
}
.deploy-modal .content {
  padding: 20px 0px 0px 17px;
  font-size: 16px;
}
.deploy-modal .content input {
  color: #39b3d7;
  font-size: 18px;
  height: 25px;
  width: 170px;
  background: #363636;
  outline: none;
  border: none;
  text-indent: 5px;
}
.deploy-modal .action-bar {
  position: absolute;
  bottom: 0;
  padding: 0px 0px 10px 10px;
  width: 100%;
}
.deploy-modal .action-bar a {
  width: 70px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
}
.deploy-modal .action-bar a.cancel {
  color: #A8A8A8;
}
.deploy-modal ::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 25px;
  vertical-align: middle;
  color: #797979;
}
.n-topology-orange {
  position: relative;
  overflow: hidden;
  background: #080808;
}
.n-topology-orange-cursor-zoom-in {
  cursor: crosshair;
}
.n-topology-orange .n-svg {
  border: none;
}
.n-topology-orange .link_dotted {
  opacity: 0;
}
.n-topology-orange text.node-label {
  font-family: "Cisco Sans Reg";
  fill: #ffd22b;
  opacity: 1;
}
.n-topology-orange text.hint {
  font-size: 12px;
}
.n-topology-orange .link path {
  fill: #ffd22b;
  stroke: #ffd22b;
  stroke-width: 1px;
}
.n-topology-orange .link path.lineBG {
  fill: #ffd22b;
  stroke: #ffd22b;
  stroke-width: 8px;
  opacity: 0;
}
.n-topology-orange .link .linkLabel {
  font-family: "Cisco Sans Reg";
  fill: #ffd22b;
  font-size: 12px;
}
.n-topology-orange .link .linkSourceLabel {
  font-family: "Cisco Sans Reg";
  fill: #ffd22b;
  opacity: 0.8;
  font-size: 12px;
}
.n-topology-orange .link .linkTargetLabel {
  font-family: "Cisco Sans Reg";
  fill: #ffd22b;
  opacity: 0.8;
  font-size: 12px;
}
.n-topology-orange .link-selected path {
  fill: #ffd22b;
  stroke: #ffd22b;
  stroke-width: 2px;
}
.n-topology-orange .links.fadeOut g {
  opacity: 0.5;
}
.n-topology-orange defs .bg {
  fill: #ffd22b;
}
.n-topology-orange defs .stroke {
  stroke: #ffd22b;
}
.n-topology-orange .icon .bg {
  fill: #ffd22b;
}
.n-topology-orange .icon .stroke {
  stroke: #ffd22b;
}
.n-topology-orange .group {
  opacity: 0.5;
}
.n-topology-orange .groupLabel {
  cursor: pointer;
  font-size: 18px;
  font-family: "Cisco Sans Reg";
}
.n-topology-orange .groupLabel:hover ~ .group {
  opacity: 0.7;
}
.n-topology-orange .mapPah {
  fill: #fff1b4;
  stroke: #080808;
  stroke-width: 1;
}
.n-topology-orange .selectionRect {
  stroke: #ffd22b;
  fill: #ffd22b;
  fill-opacity: 0.1;
}
.n-topology-orange .link-set-bg {
  stroke: #ffd22b;
  stroke-width: 2px;
}
.n-topology-orange .link-set-circle {
  fill: #ffd22b;
  stroke: #ffd22b;
  stroke-width: 16px;
  stroke-linejoin: round;
}
.n-topology-orange .link-set-text {
  fill: #080808;
  text-anchor: middle;
  dominant-baseline: central;
  font-size: 13px;
  pointer-events: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .n-topology-orange {
    /* Safari only override */
  }
  .n-topology-orange ::i-block-chrome,
  .n-topology-orange .link-set-circle {
    stroke-width: 8px !important;
  }
}
.n-topology-orange .nodeset .plusIcon {
  fill: #080808;
  pointer-events: none;
}
.n-topology-orange .node .selectedBG {
  stroke: #ff6926;
  stroke-width: 3;
}
.n-topology-orange .node .dot {
  fill: #ffd22b;
}
.n-topology-orange .nodeset .dot {
  fill: #ffd22b;
}
.n-topology-orange-setting {
  max-width: none !important;
}
.n-topology-orange .aggregationGroup .aggregationText {
  fill: #ffd22b;
  font-size: 12px;
}
.n-topology-orange .aggregationGroup .aggregationRect {
  fill: #ffd22b;
  opacity: 0.2;
  stroke: #ffd22b;
  stroke-width: 3;
  stroke-linejoin: round;
  pointer-events: none;
}
.n-topology-orange defs .white {
  fill: #080808;
}
.n-topology-orange .icon .white {
  fill: #080808;
}
.n-topology-orange .n-topology-nav {
  -webkit-filter: hue-rotate(13deg);
  filter: hue-rotate(13deg);
}
.popover {
  background: #444;
  color: #fff;
}
.popover .popover-title {
  background: #666;
  border-bottom-color: #999;
}
.popover.left .arrow {
  border-left-color: #444;
}
.popover.left .arrow:after {
  border-left-color: #444;
}
.popover.right .arrow {
  border-right-color: #444;
}
.popover.right .arrow:after {
  border-right-color: #444;
}
.popover.top .arrow {
  border-top-color: #444;
}
.popover.top .arrow:after {
  border-top-color: #444;
}
.popover.bottom .arrow {
  border-bottom-color: #444;
}
.popover.bottom .arrow:after {
  border-bottom-color: #444;
}
.full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.terminal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 600px;
  margin-left: -300px;
  margin-top: -250px;
  background: #fff;
  visibility: visible;
  border: 1px solid #aaa;
}
.terminal-window.minimized {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  bottom: auto;
  height: 180px;
  margin: 0;
}
.terminal-window.minimized .terminal-body pre {
  overflow-y: hidden;
}
.terminal-window.minimized .terminal-body pre p {
  font-size: 6px;
  line-height: 8px;
}
.terminal-window.minimized .terminal-header .btn-maximize {
  display: inline;
}
.terminal-window.minimized .terminal-header .btn-minimize {
  display: none;
}
.terminal-window .terminal-header {
  top: 0;
  height: 25px;
  margin: 0 10px;
}
.terminal-window .terminal-header h2 {
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}
.terminal-window .terminal-header .btn-maximize {
  display: none;
}
.terminal-window .terminal-header .btn-minimize {
  display: inline;
}
.terminal-window .terminal-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  bottom: 0;
  top: 25px;
}
.terminal-window .terminal-body pre {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: 0 10px 10px 10px;
  padding: 5px;
  overflow-y: auto;
  background: #333;
  color: #fff;
  font-family: consolas, "courier new";
}
.terminal-window .terminal-body pre p {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}
.terminal-window .terminal-body pre p i {
  background: #fff;
  color: #333;
}
.terminal-window .terminal-body input {
  position: absolute;
  left: -99999px;
  top: -99999px;
}
.terminal-window {
  background: #444;
  color: #eee;
  z-index: 2000;
  margin-bottom: 10px !important;
  border-color: #666;
}
.terminal-window .terminal-body pre {
  background: #222;
  color: #eee;
  border-color: #666;
}
.terminal-window .btn.btn-plain {
  color: #eee;
}
.terminal-window .btn.btn-plain:hover {
  color: #ffd22b;
}
.btn {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.btn.btn-plain {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  background: none;
}
.btn.btn-plain:active,
.btn.btn-plain:hover,
.btn.btn-plain:focus,
.btn.btn-plain:visited .btn.btn-plain[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  background: none;
}
/*
.terminal-container {
  //  z-index: 1000;
  position: absolute;
  right: 10px;
  width: 250px;
  top: 60px;
  bottom: 0;
  overflow: auto;
}*/
.terminal-container {
  position: absolute;
  right: 10px;
  width: 250px;
  top: 60px;
  overflow: auto;
  max-height: 100%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.terminal-container .terminal-window.minimized {
  width: 240px;
}
.terminal-container.view-mode.acl {
  z-index: -1;
  opacity: 0;
}
@-webkit-keyframes highlight {
  0% {
    background-color: white;
  }
  25% {
    background-color: #FFF07B;
  }
  100% {
    background-color: white;
  }
}
@-moz-keyframes highlight {
  0% {
    background-color: white;
  }
  25% {
    background-color: #FFF07B;
  }
  100% {
    background-color: white;
  }
}
@-o-keyframes highlight {
  0% {
    background-color: white;
  }
  25% {
    background-color: #FFF07B;
  }
  100% {
    background-color: white;
  }
}
@keyframes highlight {
  0% {
    background-color: white;
  }
  25% {
    background-color: #FFF07B;
  }
  100% {
    background-color: white;
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #cfcfcf;
  -webkit-border-radius: 3px;
  outline-offset: -2px;
}
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
}
::-webkit-scrollbar-corner {
  background: none;
}
::-webkit-scrollbar {
  width: 4px;
}
